*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
}
header{
  width: 100%;
  text-align: center;
  padding: .5rem;
}
main{
  width: 75%;
  min-height: calc(100vh);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
footer{
  width: 100%;
  padding: .5rem;
  text-align: center;
  background-color: royalblue;
  color: #fff;
  place-content: center;
}
ul{
  width: 100%;
  list-style: none;
}
.item{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #eee;
}
label{
  width: 100%;
  margin: 0 1rem;
}
li{
  margin: .5rem;
  padding: .5rem;
  display: flex;
  flex-direction: row;
}
.item svg{
  color: steelblue;
}
.item svg:focus, .item svg:hover{
  color: red;
  cursor: pointer;
}
.addForm{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: .5rem 0 0;
  padding: 0 .5rem .25rem;
  border-bottom: 1px solid #eee;
}
.addForm label{
  position: absolute;
  left: -999999px;
}
.addForm input[type='text']{
  flex-grow: 1;
  max-width: calc(100%-50px);
  min-height: 48px;
  font-size: 1rem;
  padding: 0.25rem;
  margin-right: .25rem;
}
button{
  height: 48px;
  min-width: 48px;
  border-radius: .25rem;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: aliceblue;
  color: mediumblue;
  cursor: pointer;
}
button:focus, button:hover{
  color: white;
  background-color: limegreen;
  outline: none;
}
.searchForm{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 0.25rem;
  padding: 0.25rem;
  border-bottom: 1px solid #eee;
}
.searchForm label{
  position: absolute;
  left: -99999px;
}
.searchForm input[type='text']{
  flex-grow: 1;
  max-width: 100%;
  min-height: 48px;
  font-size: 1rem;
  padding: 0.25rem;
  margin-right: .25rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
